<h1 mat-dialog-title>Add Employee Form</h1>
<div mat-dialog-content>
    <form [formGroup]="employeeForm">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput placeholder="Placeholder">

        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput placeholder="Placeholder">

        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="123@gmail">

        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role" placeholder="Logged in as">
                <mat-option value="Admin">Admin</mat-option>
                <mat-option value="User">User</mat-option>

            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Designation</mat-label>
            <input formControlName="designation" matInput placeholder="Placeholder">

        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input formControlName="newPassword" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button style="margin-left: 9px;" mat-raised-button color="primary" (click)="addEmployee()">{{actionBtn}}</button>

</div>