<header class="main">


    <nav class="navbar navbar-expand-lg navbar-light p-4" style="background-color: #e3f2fd; width: 100rem; height: 7rem;">
        <a class="navbar-brand" href="#">
            <div class="logo"></div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" style="position:absolute;right: 0;">
            <div class="dropdown">
                <a class="btn btn-info dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Admin actions</a>

                <div class="dropdown-content">
                    <a routerLink="/profile">
                        <a href="#">Add Employee</a></a>
                    <a href="#">Find Employee</a>
                    <a href="#">Delete Employee</a>
                    <a href="#">Update Employee</a>
                    <a href="#">List Employee</a>
                </div>
            </div>

            <ul class="navbar-nav p-xl-5 ">


                <li>
                    <a routerLink="/login">
                        <div class="image icon my-2 my-sm-0">
                        </div>
                    </a>

                </li>
            </ul>
        </div>
    </nav>


</header>