<header class="main">
    <div class="contents">
        <div class="nav-searchbar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" placeholder="Search...">
        </div>
        <div class="nav-items">
            <ul>
                <li>
                    <a routerLink="/login">
                        <div class="icon">

                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="icon">
                        <i class="fa-regular fa-bell"></i>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <i class="fa-regular fa-message"></i>
                    </div>
                </li>
                <li>
                    <a routerLink="/profile">
                        <div class="image icon">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</header>