input,
div {
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    // align-items: center;
    position: sticky;
    padding-top: 15px;
}

.navbar-brand {
    display: flex;
    border: 3rem;
}

.navbar-brand:hover {
    background-color: plum;
}

li {
    display: inline-block;
}

ul {
    display: flex;
}

div.icon {
    display: flex;
    justify-content: center;
    align-items: right;
    cursor: pointer;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

div.icon:hover {
    background-color: plum;
}

img.icon {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    height: 30px;
    width: 45px;
    margin-right: 70px;
}

img.icon:hover {
    background-color: plum;
}

div.image {
    height: 50px;
    width: 50px;
    background-image: url("../test-page/images/avatar1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.logo {
    height: 110px;
    width: 120px;
    background-image: url("../test-page/images/EMtech.jpeg");
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    border: grey;
    border-radius: 1rem;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}